*swp
autobahn-testsuite
autobahn-client-testsuite-darwin-arm64
autobahn-client-testsuite-linux-amd64
autobahn-server-testsuite-darwin-arm64
autobahn-server-testsuite-linux-amd64
autobahn/autobahn-server-testsuite-darwin-arm64-arena
cpu.profile
mem.profile
